<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Meu  CRUD em js NodeJS</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body style="background-color: rgb(115, 119, 117);" ></body>
     
    <table border="2"><h2><center>Registrar Livro</center><h2></table><br>
      <center>
        <form action="/show" method="POST">
        <input type="text" placeholder="Nome do livro" name="nomedolivro"><br>
        <input type="text" placeholder="Nome da editora" name="nomedaeditora"><br>
        <input type="text" placeholder="Nome do autor" name="nomedoautor"><br>
        <input type="number" placeholder="Numero do volume" name="numerodovolume"><br>
        <input type="number" placeholder="Numero de paginas" name="numerodepaginas"><br>
        <input type="date" placeholder="Data de lançamento" name="datadelançamento"><br>
        <input type="number" placeholder="Numero da edição" name="numerodaedição"><br>
        <input type="text" placeholder="Codigo do livro" name="codigodolivro"><br>
        <button type="submit" class="btn btn-dark">Cadastrar</button>
        <a href="/show"class="btn btn-primary">Voltar</a>
        
        
    </center>  
    </form> 

</body>
</html>