<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body bgcolor="#3CB371">

   
    <font color=white>  
    <h2><center> Cadastrar Usuario  </center>  <h2>
   <center> 
   </font>  
       <form action="/show" method="POST">
         <input type="text" placeholder="Nome" name="name"><br>
        <input type="text" placeholder="Sobrenome" name="sobrenome"><br>
        <input type="number" placeholder="CPF" name="cpf"><br>
        <input type="date" placeholder="Data de Nascimento" name="datanascimento"><br>
        <input type="email" placeholder="Email" name="email"><br>
        <input type="text" placeholder="Pais" name="pais"><br>
        <input type="text" placeholder="Estado" name="estado"><br>
        <input type="text" placeholder="Cidade" name="cidade"><br>
        <input type="text" placeholder="Rua" name="rua"><br>
        <input type="number" placeholder="Numero da casa" name="casa"><br>
        <input type="number" placeholder="Numero para contato" name="numerocontato"><br>
        <br>
        <button type="submit">Submit</button>
      </center>
    </form> 

</body>
</html>