<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tela para o cadastro de Cliente</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body background="https://c.wallhere.com/photos/26/cf/library_interior_interior_design_books_knowledge_shelves-72435.jpg!d"></body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark bg-light">
  <a class="navbar-brand" href="/">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/show"> Livros cadastrados</a>
      </li>
    </ul>
    
  </div>
</nav>


    <font color=white>  
    <h2><center> Cadastrar Usuario  </center>  <h2> <br>
   <center> 
   </font>  
        <form action="/show2" method="POST">
        <input class="form-control"  type="text"   placeholder="Nome"                  name="nome"style='width: 400px'><br>
        <input class="form-control"  type="text"   placeholder="Sobrenome"             name="sobrenome"style='width: 400px'><br>
        <input class="form-control"  type="number" placeholder="CPF"                 name="cpf"style='width: 400px'><br>
        <input class="form-control"  type="date"   placeholder="Data de Nascimento"    name="datanascimento"style='width: 400px'><br>
        <input class="form-control"  type="email"  placeholder="Email"                name="email"style='width: 400px'><br>
        <input class="form-control"  type="text"   placeholder="Pais"                  name="pais"style='width: 400px'><br>
        <input class="form-control"  type="text"   placeholder="Estado"                name="estado"style='width: 400px'><br>
        <input class="form-control"  type="text"   placeholder="Cidade"                name="cidade"style='width: 400px'><br>
        <input class="form-control"  type="text"   placeholder="Rua"                   name="rua"style='width: 400px'><br>
        <input class="form-control"  type="number" placeholder="Numero da casa"      name="numerocasa"style='width: 400px'><br>
        <input class="form-control"  type="number" placeholder="Numero para contato" name="numerocontato"style='width: 400px'><br>
      
        <button type="submit" class="btn btn-dark" >Cadastrar</button>
        <a href="/show2"class="btn btn-primary">Proseguir</a>
      </center>
    </form> 

</body>
</html>